@model PatientFilterVM

<div class="">
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <input class="form-control" type="text" asp-for="Id" placeholder="Filter by Id" aria-label="Filter by Id">
        </div>
        <div class="col-12">
            <input class="form-control" asp-for="FullName" placeholder="Filter by Full Name" aria-label="Filter by Full Name">
        </div>
        <div class="col-12">
            <input class="form-control" asp-for="PhoneNumber" placeholder="Filter by Phone Number" aria-label="Filter by Phone Number">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </form>
    <p>
        Current Filter: @Model.FullName
    </p>
</div>