@using ClinicDM.Helpers
@model PatientCreateVM

<h4 class="card-title">
    Create Patient
</h4>
<form method="post">
    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Gender"></label>
        <select class="form-select" asp-for="Gender" asp-items="new SelectList(Enum.GetNames<Genders>())">
            @* @foreach (var g in Enum.GetNames(typeof(Genders))) {
                <option>@g</option>
            } *@
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="NationalId"></label>
        <input asp-for="NationalId" class="form-control" />
        <span asp-validation-for="NationalId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DateOfBirth"></label>
        <input type="date" asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="pt-2">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}